.table-header-container {
    padding: 24px 14px 14px 24px;
    border-bottom: 1px solid #EFEFEF;

    .table-header {
        display: flex;
        justify-content: space-between;
        height: 20px;
    }
}

.table-header-container .table-header {
    .header-type {
        line-height: 20px;
        vertical-align: middle;
        font-weight: bold;
    }
}
